.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.leftPanel {
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.logo {

  width: 238px;
  height: 53px;
  margin-top: 5px;
  margin-left: 10px;

  cursor: pointer;

}

h2,
h3 {
  margin: 0;
  font-weight: normal;
}

.scheduleTitleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.scheduleTitle {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .leftPanel {
    width: 100%;
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .leftPanel {
    height: 80vh;
  }
}

@media (max-width: 320px) {
  .leftPanel {
    height: 90vh;
  }
  .logo {
    display: none;
  }
}
