/* 재사용 가능한 값들(백엔드도 똑같은 기능 자주 쓰면 메소드 만들잖아요 그런거에용)정의하는 곳이에요 밑에는 예시에용*/

/* 색상 변수 */
/* :root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --text-color: #212529;
    --background-color: #ffffff; */
   
   
    /* 폰트 사이즈 */
    /* --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
  } */
  
  /* 위에서 만든거 사용 예시 */
  /* body {
    background-color: var(--background-color);
    color: var(--text-color);
  } */


















